.flowers-wrap {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f2f5a8;
}

.zip-container {
  position: relative;
  width: 300px;
  height: 60vh;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #000;
}

.zip-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.zip-left,
.zip-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ffffb4;
  z-index: 3;
  transition: transform 1.2s ease-in-out;
}

.zip-left {
  left: 0;
  transform-origin: left;
}

.zip-right {
  right: 0;
  transform-origin: right;
}

.zip-left.open {
  transform: translateX(-100%);
}

.zip-right.open {
  transform: translateX(100%);
}

.zip-handle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  padding: 10px 30px;
  background: #d49b00;
  color: #000;
  font-size: 22px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}