.gifts-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 75vw;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  font-family: "Georgia", serif;
  background: #f0f2f5a8;
}

.gifts-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
}

.gift-btn {
  width: 150px;
  height: 150px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: rgba(204, 150, 2, 0.90); 
  color: #000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease;
}

.gift-btn:hover {
  transform: scale(1.05);
}

.gift-btn img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity .25s ease;
}

.gift-btn span {
  position: absolute;
  bottom: 14px;
  font-size: 24px;
  opacity: 0;
  transition: opacity .25s ease;
}

.gift-btn:hover img {
  opacity: 1;
}

.gift-btn:hover span {
  opacity: 1;
}

/* Hide the number when hovering */
.gift-btn:hover .number {
  opacity: 0;
}