.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.letter-stage {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f2f5a8;
  position: relative;
}

.envelope {
  margin-top: 150px;
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.pocket {
  width: 100%;
  height: 100%;
  background: #d2c2b2;
  border: 2px solid #b49f8b;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
}

.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 120px solid #d63232;
  transform-origin: top;
  transform: rotateX(0deg);          
  transition: transform 0.8s ease;
  z-index: 4;
}

.flap.open {
  transform: rotateX(180deg);  /* flips upward */
}

.paper {
  width: 45vw;
  min-height: 60vh;
  padding: 100px;
  background: url(../asset/poem-backgroud.png);
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  border-radius: 4px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0) translateY(40px);
  opacity: 0;
  transition: all 1s ease;
  z-index: 8;
  
}

.paper.show {
  transform: translate(-50%, -220px);
  opacity: 1;
}

.envelope.opened {
  pointer-events: none;
}