.move-button {
  transform: translateX(calc(50px - 100px * var(--rand)));
  transition: transform 0.2s ease;
}

.quiz-options {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.quiz-btn {
  padding: 14px 28px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  background: #cc9602;
  color: #000;
  cursor: pointer;
}

.next-btn {
  margin-top: 20px;
  padding: 14px 28px;
  font-size: 20px;
  background: #d49b00;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.all-poems{
  background-color: #f0f2f5a8;
  min-height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poem-quiz {
  background-color: #f0f2f5a8;
  min-height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poem-quiz p {
  width: 60%;
  font-family: ''Montserrat', sans-serif';
}
.poem-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.poem-display pre,
.all-poems pre {
  white-space: pre-wrap;
  text-align: center;
  display: flex;
    align-items: center;
  font-size: 22px;
  line-height: 1.5;;
  width: 100%;
}

.poem-grid {
  display: flex;

  gap: 50px;
  width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  position: relative;
}

.poem-card {
  min-width: 220px;
  height: 150px;
  background: #d49b00;
  border-radius: 20px;
  padding:16px, 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .2s ease;
}

.poem-card:hover {
  transform: scale(1.25);
  z-index: 999;
}

.poem-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  opacity: 1;
  transition: opacity .25s ease;
  text-align: center;
}

.poem-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding:16px, 8px;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 1.4;
  color: #000;
  text-align: center;
  opacity: 0;
  transition: opacity .25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poem-card:hover .poem-title {
  opacity: 0;
}

.poem-card:hover .poem-text {
  opacity: 1;
}